# Python
backend/venv/
backend/__pycache__/
*.pyc
backend/.env
backend/filehub.db

# React
frontend/node_modules/
frontend/dist/

# Uploads
uploads/*
!uploads/.gitkeep

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
Desktop.ini
